# 01. 파이썬 시작하기

In [1]:
# 001 print 기초
print("Hello World")

Hello World

In [2]:
# 002 print 기초
print("Mary\'s cosmetics")

Mary's cosmetics

In [3]:
# 003 print 기초
print("신씨가 소리질렀다. \"도둑이야\".")

신씨가 소리질렀다. "도둑이야".

In [4]:
# 004 print 기초
print("C:\\Windows")

C:\Windows

In [5]:
# 005 print 기초
print("안녕하세요.\n만나서\t\t반갑습니다.")
#\n 줄 바꿈,\t tap, 4칸 띄워쓰기

안녕하세요.
만나서		반갑습니다.

In [6]:
# 006 print 여러 데이터 출력
print("오늘은", "일요일")

오늘은 일요일

In [7]:
# 007 print 기초
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [8]:
# 008 print 기초
print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

In [9]:
# 009 print 줄바꿈
print("first", end="");print("second")

firstsecond

In [10]:
# 010 연산 결과 출력
a = 5/3
print("5 / 3 = ", a)

5 / 3 =  1.6666666666666667

# 02. 파이썬 변수

In [11]:
# 011 변수 사용하기
samsung_electronics = 50000
print(samsung_electronics*10)

500000

In [12]:
# 012 변수 사용하기
total = 298E12
now = 50000
per = 15.79

In [13]:
# 013 문자열 출력
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [14]:
# 014 파이썬을 이용한 값 계산
print(2 + 2 * 3)

8

In [15]:
# 015 type 함수
a = 128
print(type(a))

<class 'int'>

In [16]:
# 016 문자열을 정수로 변환
num_str = "720"
num_int = int(num_str)
# type(num_str)
type(num_int)

int

In [17]:
# 017 정수를 문자열 100으로 변환
num = 100
str_num = str(num)
print(str_num, type(str_num))

100 <class 'str'>

In [18]:
# 018 문자열을 실수로 변환
str_ = "15.79"
float_ = float(str_)
print(float_, type(float_))

15.79 <class 'float'>

In [19]:
# 019 문자열을 정수로 변환
year = "2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)
print(int(year))

2017
2018
2019
2020

In [20]:
# 020 파이썬 계산
ac_monthly = 48584
total = ac_monthly*36
print(total)

1749024

### 03. 파이썬 문자열

In [21]:
# 021 문자열 인덱싱
letters = 'python'
print(letters[0], letters[2])

p t

In [22]:
# 022 문자열 슬라이싱
licence_plate = "24가 2210"
print(licence_plate[4:])

2210

In [23]:
# 023 문자열 인덱싱
string = "홀짝홀짝홀짝"
print(string[0], end='')
print(string[2], end='')
print(string[4])
print(string[::2])
print(string[1::2])

홀홀홀
홀홀홀
짝짝짝

In [24]:
# 024 문자열 슬라이싱
string = "PYTHON"
print(string[::-1])

NOHTYP

In [25]:
# 025 문자열 치환
phone_number = "010-1111-2222"
phone_number.replace('-'," ")

'010 1111 2222'

In [26]:
# 026 문자열 다루기
phone_number.replace('-','')

'01011112222'

In [27]:
# 027 문자열 다루기
url = "http://sharebook.kr"
print(url[-2:])

kr

In [28]:
# 028 문자열은 immutable
lang = 'python'
# lang[0] = "P"
lang = lang.replace("p","P")
print(lang)

Python

In [29]:
# 029 replace 메서드
string = 'abcdfe2a354a32a'
print(string.replace("a", "A"))

Abcdfe2A354A32A

In [30]:
# 030 replace 메서드
string = 'abcd'
string.replace('b',"B")
print(string) #'aBcd'

abcd

In [31]:
# 031 문자열 합치기
a = '3'
b = '4'
print(a+b) #34

34

In [32]:
# 032 문자열 곱하기
print("HI"*3) #HIHIHI

HIHIHI

In [33]:
# 033 문자열 곱하기
print("-"*80)

--------------------------------------------------------------------------------

In [34]:
# 034 문자열 곱하기
t1 = 'python'
t2 = 'java'
print((t1 +" "+ t2 + " ")*4)

python java python java python java python java

In [35]:
# 035 문자열 출력 = %formatting 사용
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름 : %s 나이 : %d" %(name1, age1))
print("이름 : %s 나이 : %d" %(name2, age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [36]:
# 036 문자열 출력 = format() 사용

print("이름 : {} 나이 : {}".format(name1, age1))
print("이름 : {} 나이 : {}".format(name2, age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [37]:
# 037 문자열 출력 = f-string 사용
print(f"이름 : {name1} 나이 : {age1}")
print(f"이름 : {name2} 나이 : {age2}")

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [38]:
# 038 컴마 제거하기
number_of_stocks = "5,969,782,550"
print(int(number_of_stocks.replace(",","")))

5969782550

In [39]:
# 039 문자열 슬라이싱
coverage = "2020/03(E) (IFRS연결)"
print(coverage[:7])

2020/03

In [40]:
# 040 strip 메서드
data = "     samsung    "
print(data.strip())

samsung

In [41]:
# 041 upper 메서드
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [42]:
# 042 lower 메서드
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [43]:
# 043 capitalize 메서드
string = 'hello'
print(string.capitalize())

Hello

In [44]:
# 044 endswith 메서드
file_name = 'report.xlsx'
print(file_name.endswith('xlsx'))

True

In [45]:
# 045 endswith 메서드
file_name = 'report.xlsx'
print(file_name.endswith(('xlsx','xls')))

True

In [46]:
# 046 startswith 메서드
file_name = "2020_report.xlsx"
print(file_name.startswith("2020"))

True

In [47]:
# 047 split 메서드
a = "hello world"
print(a.split(" "))

['hello', 'world']

In [48]:
# 048 split 메서드
ticker = 'btc_krw'
print(ticker.split('_'))

['btc', 'krw']

In [49]:
# 049 split 메서드
date = "2024-09-04"
print(date.split('-'))

['2024', '09', '04']

In [50]:
# 050 rstrip 메서드
data = "240904     "
print(data.rstrip())

240904