# 04. 파이썬 리스트

In [31]:
# 051 리스트 생성
movie_rank = ['Dr. Strange', 'Split', 'Lucky']

In [32]:
# 052 리스트에 원소 추가
movie_rank.append('Batman')
print(movie_rank)

['Dr. Strange', 'Split', 'Lucky', 'Batman']

In [33]:
# 053
movie_rank.insert(1, 'Superman')
print(movie_rank)

['Dr. Strange', 'Superman', 'Split', 'Lucky', 'Batman']

In [34]:
# 054
movie_rank.pop(3)
print(movie_rank)

['Dr. Strange', 'Superman', 'Split', 'Batman']

In [35]:
# 055
movie_rank.pop(2)
print(movie_rank)
movie_rank.pop(2)
print(movie_rank)

['Dr. Strange', 'Superman', 'Batman']
['Dr. Strange', 'Superman']

In [36]:
# 056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [37]:
# 057
nums = [1, 2, 3, 4, 5, 6, 7]
print("max : ", max(nums))
print("min : ", min(nums))

max :  7
min :  1

In [38]:
# 058
nums = [1, 2, 3, 4, 5]
print("sum : ", sum(nums))

sum :  15

In [39]:
# 059
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [40]:
# 060
num = [1, 2, 3, 4, 5]
print(sum(num)/len(num))

3.0

In [41]:
# 061
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [42]:
# 062
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [43]:
# 063
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [44]:
# 064
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [46]:
# 065
interest = ['삼성전자', 'LG전자', 'Naver']
# interest[::2]
print(interest[0], interest[2])

삼성전자 Naver

In [47]:
# 066 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [48]:
# 067 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [49]:
# 068 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [51]:
# 069 문자열 split 메서드
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
interest

['삼성전자', 'LG전자', 'Naver']

In [54]:
# 070 리스트 정렬
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

# 05. 파이썬 튜플

In [56]:
# 071
my_variable = ()
type(my_variable)

tuple

In [58]:
# 072
movie_rank=("Dr.Stranbe", "Split", "Lucky")

In [61]:
# 073 : 숫자 1 이 저장된 튜플을 생성하라
# number = (1) #int로 저장됨!
number = (1,) #튜플로 저장됨!
type(number)

tuple

In [63]:
# 074
t = (1, 2, 3)
t[0] = 'a'
#에러가 나는 이유 : 튜플의 원소 값은 바꿀 수 없음!

TypeError: 'tuple' object does not support item assignment

In [64]:
# 075
t = 1, 2, 3, 4
#t의 자료형은? 튜플! 괄호 생략해도 됨!

In [65]:
# 076
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
t

('A', 'b', 'c')

In [66]:
# 077
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest_list = list(interest)
print(interest_list, type(interest_list))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

In [67]:
# 078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest_tuple=tuple(interest)
print(interest_tuple, type(interest_tuple))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [68]:
# 079
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [71]:
# 080
even = tuple(range(2,100,2))
print(even, type(even))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98) <class 'tuple'>

# 06. 파이썬 딕셔너리

In [84]:
# 081 별 표현식
# # 기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 
# # 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 
# a, b, *c = (0, 1, 2, 3, 4, 5)
# print(a, b, c)

# 좌측 8개 값 패킹
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _ = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [85]:
# 082 우측 8개 값 패킹
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,_, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [86]:
# 083 가운데 8개 값 패킹
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *valid_score,_ = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [87]:
# 084 비어있는 딕셔너리
tmp = {}
print(tmp, type(tmp))

{} <class 'dict'>

In [98]:
# 085
icecream = {"Merona" : 1000, "Polapo" : 1200, "Pangpare" : 1800}
print(icecream)

{'Merona': 1000, 'Polapo': 1200, 'Pangpare': 1800}

In [99]:
# 086
icecream["Jaws"] = 1200
icecream["World_"] = 1500
icecream

{'Merona': 1000,
 'Polapo': 1200,
 'Pangpare': 1800,
 'Jaws': 1200,
 'World_': 1500}

In [100]:
# 087
print("메로나 가격 :", icecream['Merona'])

메로나 가격 : 1000

In [101]:
# 088
icecream["Merona"] = 1300
icecream

{'Merona': 1300,
 'Polapo': 1200,
 'Pangpare': 1800,
 'Jaws': 1200,
 'World_': 1500}

In [97]:
# 089
del icecream["Merona"]
icecream

{'Polapo': 1200, 'Pangpare': 1800, 'Jaws': 1200, 'World_': 1500}

In [102]:
# 090
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바'] 
# 에러가 나는 이유 : '누가바'가 key인 값이 없음

KeyError: '누가바'

In [104]:
# 091 딕셔너리 생성
inventory = {"Merona" : [300,20], "Bibibik" : [400,3], "Jaws" : [250,100]}
inventory

{'Merona': [300, 20], 'Bibibik': [400, 3], 'Jaws': [250, 100]}

In [105]:
# 092 딕셔너리 인덱싱
print(inventory["Merona"][0],"원")

300 원

In [106]:
# 093 딕셔너리 인덱싱
print(inventory["Merona"][1],"개")

20 개

In [107]:
# 094 딕셔너리 추가
inventory['World'] = [500, 7]
inventory

{'Merona': [300, 20],
 'Bibibik': [400, 3],
 'Jaws': [250, 100],
 'World': [500, 7]}

In [108]:
# 095 딕셔너리 keys() 메소드
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice_key_list = list(icecream.keys())
ice_key_list

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [111]:
# 096 딕셔너리 values() 메서드
ice_value_list = list(icecream.values())
ice_value_list

[1200, 1200, 1800, 1500, 1000]

In [114]:
# 097 딕셔너리 values() 메서드
total_price = sum(icecream.values())
total_price

6700

In [116]:
# 098 딕셔너리 update 메서드
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [118]:
# 099 zip과 dict
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result, type(result))

{'apple': 300, 'pear': 250, 'peach': 400} <class 'dict'>

In [119]:
# 100 zip과 dict
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
result = dict(zip(date, close_price))
print(result, type(result))

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000} <class 'dict'>