# 08. 반복문

In [1]:
# 161
for i in range (1,100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [2]:
# 162
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [5]:
# 163
# for i in range(1,31):
#     if i%3 ==0:
#         print(i)
for i in range(3, 31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30
3
6
9
12
15
18
21
24
27
30

In [9]:
# 164
for i in range(100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [15]:
# 165
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [16]:
# 166
for i in range(1,10):
    print(f"3X{i} =", 3*i)

3X1 = 3
3X2 = 6
3X3 = 9
3X4 = 12
3X5 = 15
3X6 = 18
3X7 = 21
3X8 = 24
3X9 = 27

In [17]:
# 167
for i in range(1,10,2):
    print(f"3X{i} =", 3*i)

3X1 = 3
3X3 = 9
3X5 = 15
3X7 = 21
3X9 = 27

In [19]:
# 168
result = 0
for i in range(1,11):
    result += i
print(result)

55

In [21]:
# 169
result = 0
for i in range(1,11,2):
    result += i
print(result)

25

In [23]:
# 170
result = 1
for i in range(1,11):
    result *= i
print(result)

3628800

In [24]:
# 171
price_list = [32100, 32150, 32000, 32500]
for p in price_list:
    print(p)

32100
32150
32000
32500

In [25]:
# 172
price_list = [32100, 32150, 32000, 32500]
for i, p in enumerate(price_list):
    print(i, p)

0 32100
1 32150
2 32000
3 32500

In [28]:
# 173
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [29]:
# 174
price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
    print(90 + 10*i, price_list[i])

100 32150
110 32000
120 32500

In [31]:
# 175
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [33]:
# 176
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [40]:
# 177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1,0,-1):
    print(my_list[i],my_list[i-1])

라 다
다 나
나 가

In [41]:
# 178
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
    print(my_list[i+1]-my_list[i])

100
200
400

In [42]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [45]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i]-low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [46]:
# 181
apart = [[101, 102],[201, 202], [301,302]]

In [47]:
# 182
stock = [["시가", 100,200, 300], ["종가", 80, 210, 330]]

In [48]:
# 183
stock = {"시가": [100,200,300], "종가" : [80, 210, 330]}

In [49]:
# 184
stock = {"10/10": [80,110,70,90], "10/11": [210,230,190,200]}

In [56]:
# 185
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    for j in range(len(apart[i])):
        print(apart[i][j],"ho")
for row in apart:
    for col in row:
        print(col, 'ho')

101 ho
102 ho
201 ho
202 ho
301 ho
302 ho
101 ho
102 ho
201 ho
202 ho
301 ho
302 ho

In [55]:
# 186
apart = [ [101, 102], [201, 202], [301, 302] ]
# for i in range(len(apart)-1,-1, -1):
#     for j in range(len(apart[i])):
#         print(apart[i][j],"ho") 
        
for row in apart[::-1]:
    for col in row:
        print(col, 'ho')

301 ho
302 ho
201 ho
202 ho
101 ho
102 ho
301 ho
302 ho
201 ho
202 ho
101 ho
102 ho

In [57]:
# 187
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row[::-1]:
        print(col,'ho')

302 ho
301 ho
202 ho
201 ho
102 ho
101 ho

In [58]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, 'ho')
        print("-----")

101 ho
-----
102 ho
-----
201 ho
-----
202 ho
-----
301 ho
-----
302 ho
-----

In [59]:
# 189
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, 'ho')
    print("-----")

101 ho
102 ho
-----
201 ho
202 ho
-----
301 ho
302 ho
-----

In [60]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, 'ho')
print("-----")

101 ho
102 ho
201 ho
202 ho
301 ho
302 ho
-----

In [63]:
# 191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for row in data:
    for col in row:
        print(col*(1.00014))

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [64]:
# 192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for row in data:
    for col in row:
        print(col*(1.00014))
    print("----------")

2000.28
3050.427
2050.2870000000003
1980.2772
----------
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----------
15452.163
15052.107
15552.177
14902.086000000001
----------

In [66]:
# 193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for row in data:
    for col in row:
        result.append(col*(1.00014))
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [67]:
# 194
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for row in data:
    tmp = []
    for col in row:
        tmp.append(col*(1.00014))
    result.append(tmp)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [69]:
# 195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    print(row[-1])

100
190
310

In [70]:
# 196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[-1]>150:
        print(row[-1])

190
310

In [71]:
# 197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[-1]>=row[0]:
        print(row[-1])

100
310

In [74]:
# 198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []
for row in ohlc[1:]:
    volatility.append(row[1]-row[2])
print(volatility)

[40, 30, 10]

In [75]:
# 199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]


for row in ohlc[1:]:
    if row[-1]>row[0]:
        print(row[1]-row[2])

10

In [77]:
# 200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

price = []
for row in ohlc[1:]:
    price.append(row[0]-row[-1])
print(price, sum(price))

[0, 10, -10] 0