# 파이썬 분기문

In [1]:
# 101 True or False 데이터 타입?
bool

bool

In [ ]:
# 102 출력 결과 예상
print(5==3)
#False

False

In [5]:
# 103 출력 결과 예상
print(3<5)
#True

True

In [6]:
# 104 출력 결과 예상
x = 4
print(1<x<5)
#True

True

In [7]:
# 105 출력 결과 예상
print((3==3) and (4!=3))
#(True and True => True)

True

In [8]:
# 106 에러가 나는 이유?
print(3 => 4)
# 비교 연산자 순서가 뒤집힘, >=으로 해야함

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1690296034.py, line 2)

In [11]:
# 107 출력 결과 예상
if 4 < 3 :
    print("Hello World")
# 아무것도 출력되지 않음

In [12]:
# 108 출력 결과 예상
if 4 < 3 :
    print("Hello World")
else :
    print("Hi, there")
# Hi, there

Hi, there

In [13]:
# 109 출력 결과 예상
if True :
    print("1")
    print("2")
else : 
    print("3")
print("4")
# 1, 2, 4

1
2
4

In [14]:
# 110 출력 결과 예상
if True : 
    if False : 
        print("1")
        print("2")
    else : 
        print("3")

3

In [17]:
# 111 입력받기
a = input()
print(a*2)

안녕하세요안녕하세요

In [19]:
# 112  입력받기
i = input()
print("숫자를 입력하세요: ", i)
print(int(i)+10)

숫자를 입력하세요:  30
40

In [21]:
# 113 입력받기
i = input()
if int(i)%2 == 1 : 
    print(i,"는 홀수")
else :
    print(i, "는 짝수")

15 는 홀수

In [24]:
# 114  입력받기
i = input()
print("입력값 :", i)
if int(i)+20 <= 255 : 
    print("출력값 :", int(i)+20)
else : 
    print("출력값 :", 255)

입력값 : 240
출력값 : 255

In [26]:
# 115 입력 받기
i = input()
print("입력값 :", i)
if int(i)-20 >= 0:
    print("출력값 :", int(i)-20)
else : 
    print("출력값 :", 0)

입력값 : 200
출력값 : 180

In [27]:
# 116 입력 받기
i = input("HH:MM 으로 입력하세요")
print("현재 시간:", i)
minutes = int(i[3:])
if minutes == 0:
    print("정각 입니다.")
else : 
    print("정각이 아닙니다.")

현재 시간: 02:00
정각 입니다.

In [29]:
# 117 입력 받기
fruit = ['사과', '포도', '홍시']
i = input()
print("좋아하는 과일은?",i)
if i in fruit : 
    print("정답입니다.")
else : 
    print("없습니다.")

좋아하는 과일은? 포도
정답입니다.

In [30]:
# 118 입력 받기
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
i = input()
print(i,"는 ", end="")
if i in warn_investment_list :
    print("투자 경고 종목입니다")
else : 
    print("투자 경고 종목이 아닙니다.")

LG 는 투자 경고 종목입니다

In [31]:
# 119 입력 받기
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
i = input()
print("제가 좋아하는 계절은 :", i)
fruit_key = list(fruit.keys())
if i in fruit_key :
    print("정답입니다.")
else :
    print("오답입니다.")

제가 좋아하는 계절은 : 봄
정답입니다.

In [32]:
# 120 입력 받기
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
i = input()
print("제가 좋아하는 과일은 :", i)
fruit_value = list(fruit.values())
if i in fruit_value :
    print("정답입니다.")
else :
    print("오답입니다.")

제가 좋아하는 과일은 : 한라봉
오답입니다.

In [33]:
# 121
i = input()
if i.islower() :
    print(i.upper())
else : 
    print(i.lower())

A

In [35]:
#122
grade = input()
grade = int(grade)
if 81 <= grade <= 100 :
    print("grade is A")
elif 61 <= grade <= 80 : 
    print("grade is B")
elif 41 <= grade <= 60 : 
    print("grade is C")
elif 21 <= grade <= 40 : 
    print("grade is D")
else :
    print("grade is E")

grade is A

In [41]:
# 123
i = input()
currency = {"달러": 1167, "엔" : 1.096, "유로" : 1268, "위안": 171}
i_money, i_currency = i.split(" ")
# print(type(i_money), i_currency, type(currency[i_currency]))
print(float(currency[i_currency])*int(i_money), "원")

116700.0 원

In [45]:
# 124
a = input()
a = int(a)
b = input()
b = int(b)
c = input()
c = int(c)

print(max(a, b, c))

20

In [50]:
# 125
company = {"011": "SKT", "016": "KT", "019" : "LGU", "010":"Unknown"}
phone = input("xxx-xxxx-xxxx 형식으로 입력하세요.")
tele = phone.split("-")[0]

print(f"당신은 {company[tele]} 사용자입니다")

당신은 SKT 사용자입니다

In [51]:
# 126
district = {"0":"강북구", "1":"강북구","2":"강북구","3":"도봉구",
            "4":"도봉구","5":"도봉구","6":"노원구","7":"노원구","8":"노원구","9":"노원구"}
add = input()
add_key = add[2]

print(district[add_key])

도봉구

In [57]:
# 127
i = input()
gender = i.split("-")[1][0]
if gender == "1" or gender == "3" : 
    print("남자")
else : 
    print("여자")

남자

In [58]:
# 128
i = input()
city = int(i.split("-")[1][1:3])
if 0 <= city <= 8 : 
    print("서울 입니다")
else : 
    print("서울이 아닙니다")

서울이 아닙니다

In [ ]:
# 129
i = input()
check = int(i[-1])
answer = int(i[0])*2 + int(i[1])*3 + int(i[2])*4 + int(i[3])*5+ int(i[4])*6+ int(i[5])*7+\
    int(i[7])*8 + int(i[8])*9 + int(i[9])*2 + int(i[10])*3 + int(i[11])*4 + int(i[12])*5
answer = 11 - answer % 11
if check == answer: 
    print("유효한 주민번호입니다.")
else : 
    print("유효하지 않은 주민번호입니다.")

유효하지 않은 주민번호입니다.

In [ ]:
# 130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
# print(btc)
# print(type(btc['max_price']))
difference = int(btc['max_price']) - int(btc['min_price'])
price = int(btc["opening_price"])
high = int(btc['max_price'])
if difference + price > high :
    print("상승장")
else : 
    print("하락장")

상승장

# 08. 파이썬 반복문

In [17]:
# 131
fruits = ['apple', 'mandarin', 'watermelon']
for fruit in fruits : 
    print(fruit)

apple
mandarin
watermelon

In [20]:
# 132
fruits = ['apple', 'mandarin', 'watermelon']
for fruit in fruits : 
    print("####")
    
''' 
####
####
####
'''

####
####
####

In [21]:
# 133
'''
char = ['A', 'B', 'C']
for a in char:
    print(a)
'''

c = 'A'
print(c)
c = 'B'
print(c)
c = 'C'
print(c)

A
B
C
A
B
C

In [22]:
# 134
for a in ['A', 'B', 'C']:
    print("print: ", a)
c = 'A'
print("print: ",c)
c = 'B'
print("print: ",c)
c = 'C'
print("print: ",c)

print:  A
print:  B
print:  C
print:  A
print:  B
print:  C

In [23]:
# 135
'''
for a in ['A', 'B', 'C']:
    b = a.lower()
    print("change: ", b)    
'''
c = 'A'
print("change: ",c.lower())
c = 'B'
print("change: ",c.lower())
c = 'C'
print("change: ", c.lower())

change:  a
change:  b
change:  c
change:  a
change:  b
change:  c

In [24]:
# 136
'''
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)
'''

decimals = [10, 20, 30]
for a in decimals:
    print(a)

10
20
30
10
20
30

In [25]:
# 137
'''
print(10)
print(20)
print(30)
'''

for i in range(10,31,10):
    print(i)

10
20
30
10
20
30

In [27]:
# 138
'''
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")
'''

for i in range(10,31,10):
    print(i)
    print("-------")

10
-------
20
-------
30
-------
10
-------
20
-------
30
-------

In [28]:
# 139
'''
print("++++")
print(10)
print(20)
print(30)
'''


print("++++")
for i in range(10,31,10):
    print(i)

++++
10
20
30
++++
10
20
30

In [11]:
# 140
'''
print("-------")
print("-------")
print("-------")
print("-------")
'''

In [29]:
# 141
price =[100,200,300]
for i in price:
    print(i + 10)

110
210
310

In [30]:
# 142
food = ['Gimbap', 'Ramyeon', 'Fries']
for i in food:
    print("Today's menu: ", i)

Today's menu:  Gimbap
Today's menu:  Ramyeon
Today's menu:  Fries

In [32]:
# 143
stocks = ["SK", "Samsung-Electronics", "LG-Electronics"]
for i in stocks:
    print(len(i))

2
19
14

In [33]:
# 144
animals = ['dog', 'cat', 'parrot']
for i in animals:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [35]:
# 145
animals = ['dog', 'cat','parrot']
for i in animals:
    print(i[0])

d
c
p

In [36]:
# 146
numbers = [1, 2, 3]
for i in numbers:
    print("3 X", i)

3 X 1
3 X 2
3 X 3

In [38]:
# 147
numbers = [1, 2, 3]
for i in numbers:
    print("3 X", i, "=", i*3)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

In [2]:
# 148
char_list = ['A', 'B', 'C', 'D']
for a in char_list:
    if a =='A':
        continue
    print(a)

B
C
D

In [4]:
# 149
char_list = ['A', 'B', 'C', 'D']
for a in char_list[::2]:
    print(a)

A
C

In [6]:
# 150
char_list = ['A', 'B', 'C', 'D']
for a in char_list[::-1]:
    print(a)

D
C
B
A

In [7]:
# 151
numbers = [3, -20, -3, 44]
for i in numbers:
    if i<0:
        print(i)

-20
-3

In [8]:
# 152
numbers = [3, 100, 23, 44]
for i in numbers:
    if i%3 ==0:
        print(i)

3

In [9]:
# 153
numbers = [13, 21, 12, 14, 30, 18]
for i in numbers:
    if i%3 ==0 and i < 20:
        print(i)

12
18

In [10]:
# 154
char = ["I", "study", "python", "language", "!"]
for i in char:
    if len(i)>=3:
        print(i)

study
python
language

In [11]:
# 155
char = ["A", "b", "c", "D"]
for i in char:
    if i.isupper():
        print(i)

A
D

In [12]:
# 156
char = ["A", "b", "c", "D"]
for i in char:
    if i.islower():
        print(i)

b
c

In [13]:
# 157
animals = ['dog', 'cat', 'parrot']
for a in animals:
    print(a.capitalize())

Dog
Cat
Parrot

In [14]:
# 158
file_name = ['hello.py', 'ex01.py', 'intro.hwp']
for f in file_name:
    print(f.split(".")[0])

hello
ex01
intro

In [16]:
# 159
file_name = ['intra.h', 'intra.c', 'define.h', 'run.py']
for f in file_name:
    if f.split('.')[1]=='h':
        print(f)

intra.h
define.h

In [17]:
# 160
file_name = ['intra.h', 'intra.c', 'define.h', 'run.py']
for f in file_name:
    if f.split('.')[1]=='h' or f.split('.')[1]=='c':
        print(f)

intra.h
intra.c
define.h