# 파이썬 함수

In [1]:
# 201
def print_coin():
    print("bitcoin")

In [45]:
# 202
print_coin()

bitcoin

In [46]:
# 203
for i in range(100):
    print_coin()

bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin
bitcoin

In [47]:
# 204
def print_coins():
    for i in range(100):
        print("bitcoin")

In [6]:
# 205
hello()
def hello():
    print("Hi")
# 에러가 나는 이유 : 함수가 선언 되기 전에 함수를 호출 함

In [48]:
# 206
def message() :
    print("A")
    print("B")

message()
print("C")
message()

# A
# B
# C
# A
# B

A
B
C
A
B

'\nA\nB\nC\nA\nB\n'

In [49]:
# 207
print("A")

def message() :
    print("B")

print("C")
message()
# A
# C
# B

A
C
B

In [50]:
# 208
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()
# A
# C
# B
# E
# D

A
C
B
E
D

In [52]:
# 209
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

# B
# A

B
A

In [53]:
# 210
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

# B
# C
# B
# C
# B
# C
# A

B
C
B
C
B
C
A

In [54]:
# 211
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

# 안녕
# Hi

안녕
Hi

In [55]:
# 212
def 함수(a, b) :
    print(a + b)

함수(3, 4) # 7
함수(7, 8) # 15

7
15

In [56]:
# 213
def 함수(문자열) :
    print(문자열)
# 에러가 나는 이유 : 문자열이라는 변수가 선언되지 않음

In [58]:
# 214
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
#int랑 str는 더할 수 없음

TypeError: can only concatenate str (not "int") to str

In [62]:
# 215
def print_with_smile(str):
    print(str + ":D")

In [63]:
# 216
print_with_smile("Hello")

Hello:D

In [64]:
# 217
def print_upper_price(price):
    print(price*1.3)

In [65]:
# 218
def print_sum(a,b):
    print(a+b)

In [70]:
# 219
def print_arithmetic_operation(a, b):
    print("%d + %d = %d"%(a, b, a+b))
    print("%d - %d = %d"%(a, b, a-b))
    print("%d * %d = %d"%(a, b, a*b))
    print("%d / %d = %d"%(a, b, a/b))
print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0

In [2]:
# 220
def print_max(a, b, c):
    print(max(a, b, c))
print_max(1, 9 ,2)

9

In [5]:
# 221
def print_reverse(str):
    print(str[::-1])
print_reverse("hello")

olleh

In [7]:
# 222
def print_score(list):
    print(sum(list)/len(list))
    
print_score([1, 2, 3])

2.0

In [8]:
# 223
def print_even(list):
    for e in list:
        if e%2==0:
            print(e)
print_even([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [11]:
# 224
def print_keys(dict):
    # print(list(dict.keys()))
    for key in dict.keys():
        print(key)
print_keys({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [12]:
# 225
def print_value_by_key(dict, date):
    print(dict[date])
    

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

print_value_by_key(my_dict, '10/26')

[100, 130, 100, 100]

In [15]:
# 226
def print_5xm(str):
    # print(str[:5])
    # print(str[5:])
    check_num = int(len(str)/5)
    for x in range(check_num+1):
        print(str[x*5 : x*5+5])
print_5xm("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [17]:
# 227
def printmxn(str, num):
    
    check_num = int(len(str)/num)
    for x in range(check_num+1):
        print(str[x*num : x*num+num])
printmxn("아이엠어보이유알어걸",3)

아이엠
어보이
유알어
걸

In [20]:
# 228
def calc_monthly_salary(annual_salary):
    print(int(annual_salary/12))
    
calc_monthly_salary(12000000)

1000000

In [21]:
# 229
def my_print(a,b):
    print("왼쪽:", a)
    print("오른쪽:", b)
my_print(a=100, b=200)

# 왼쪽 100, 오른쪽 200

왼쪽: 100
오른쪽: 200

In [22]:
# 230
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)
# 왼쪽 200, 오른쪽 100

왼쪽: 200
오른쪽: 100

In [23]:
# 231
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)
#아무것도 실행되지 않고 에러 : result 변수가 선언되어있지 않기 때문

NameError: name 'result' is not defined

In [25]:
# 232
def make_rul(str):
    return "www." + str + ".com"

In [26]:
# 233
def make_list(str):
    return [a for a in str]
make_list("abcd")

['a', 'b', 'c', 'd']

In [29]:
# 234
def pickup_even(list):
    return [a for a in list if a%2==0]
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [33]:
# 235
def convert_int(str):
    return int(str.replace(",",""))
convert_int("1,234,566")

1234566

In [35]:
# 236
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

# 14+4+4 = 22

22

In [37]:
# 237
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)
# ((10+4)+4)+4

22

In [38]:
# 238
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

#140

140

In [39]:
# 239
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

# 16

16

In [40]:
# 240
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

# 28

28

# 파일 입출력과 예외처리

In [42]:
# 291
f = open("매수종목1.txt", mode="wt", encoding="utf-8")
f.write("005930\n")
f.write("005380\n")
f.write("035420")
f.close()

In [43]:
# 292
f = open("매수종목2.txt", mode='wt', encoding="utf-8")
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER")
f.close()

In [45]:
# 293
import csv
f = open("매수종목.csv", mode='wt', encoding="cp949", newline='')
writer = csv.writer(f)
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", 15.59])
writer.writerow(["NAVER", "035420", 55.82])
f.close()

In [49]:
# 294
f = open("매수종목1.txt", mode="r", encoding="utf-8")
lines = f.readlines()

code = []
for line in lines:
    code.append(line.strip())
    
print(code)
f.close()

['005930', '005380', '035420']

In [52]:
# 295
f = open("매수종목2.txt", mode="r", encoding="utf-8")
lines = f.readlines()

code = {}
for line in lines:
    code[line.strip().split(" ")[0]]=(line.strip().split(" ")[1])
    
print(code)
f.close()

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [53]:
# 296
per = ["10.31", "", "8.00"]

for i in per:
    try : 
        print(float(i))
    except : 
        print(0)

10.31
0
8.0

In [57]:
# 297
per = ["10.31", "", "8.00"]
f_list = []
for i in per:
    try : 
        f = float(i)
    except :
        f = 0
    f_list.append(f)
print(f_list)

[10.31, 0, 8.0]

In [ ]:
# 298

try:
    b = 3 / 0
except ZeroDivisionError:
    print("0으로 나누면 안되요")

In [59]:
# 299
data = [1, 2, 3]

for i in range(5) : 
    try :
        print(data[i])
    except IndexError as e: 
        print(e)

1
2
3
list index out of range
list index out of range

In [61]:
# 300

per = ["10.31", "", "8.00"]

f_list = []
for i in per:
    try :
        f = float(i)
    except : 
        f = 0
    else : 
        print("good data to change")
    finally:
        print("anyway")

good data to change
anyway
anyway
good data to change
anyway